.line
{
    margin: auto !important;
    width: 350px !important;
    height: 2px !important;
    border-top: 1px solid #696969;
    background: #664de5


}
.progressContainer
{
    width: 100%;
}
.circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: 696969;
    font-weight: 600;
    background-color: white;
}
.circleTrue
{
    background-color: #664de5 !important;
    color: white !important;

}
.circleContainer
{
    transform: translateY(-25px);
    display: flex;
    gap: 50px;
    width: fit-content;
    margin: auto;
}